{% extends "default/panel/layout.html" %}
{% load staticfiles %}

{% block page_info %}
    <li>
      <b> {% block title %} Empresa {% endblock %}</b>
    </li>
    <li>
      <a class="active">Cadastro</a>
    </li>    
{% endblock %}

{% block content %}
  <div class="col-md-12">
  <!-- START PANEL -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
      </div>
    </div>
    <div class="panel-body">
      <form autocomplete="off"  method="post" enctype="multipart/form-data" role="form" id="form-personal" novalidate="novalidate">
        {% csrf_token %}
       
        <div class='row'>
           <div class="col-lg-6">
            <fieldset class="form-group">
              <label class="form-label semibold" for="{{ form.cnpj.auto_id }}">{{ form.cnpj.label_tag }}</label>
              {{ form.cnpj }}
              <small class="text-muted">{{ form.cnpj.errors }}</small>
            </fieldset>
          </div>
          <div class="col-lg-6">
            <fieldset class="form-group">
              <label class="form-label semibold" for="{{ form.ie.auto_id }}">{{ form.ie.label_tag }}</label>
              {{ form.ie }}
              <small class="text-muted">{{ form.ie.errors }}</small>
            </fieldset>
          </div>
        </div>

        <div class='row'>
           <div class="col-lg-12">
            <fieldset class="form-group">
              <label class="form-label semibold" for="{{ form.razaosocial.auto_id }}">{{ form.razaosocial.label_tag }}</label>
              {{ form.razaosocial }}
              <small class="text-muted">{{ form.razaosocial.errors }}</small>
            </fieldset>
          </div>
        </div>

        <div class='row'>
           <div class="col-lg-12">
            <fieldset class="form-group">
              <label class="form-label semibold" for="{{ form.nomefantasia.auto_id }}">{{ form.nomefantasia.label_tag }}</label>
              {{ form.nomefantasia }}
              <small class="text-muted">{{ form.nomefantasia.errors }}</small>
            </fieldset>
          </div>
        </div>
        
        {% if request.session.view != "escola" and request.session.view != "agencia" %}
        <div class='row'>
           <div class="col-lg-12">
            <fieldset class="form-group">
              <label class="form-label semibold" for="{{ form.id_tipo_empresa.auto_id }}">{{ form.id_tipo_empresa.label_tag }}</label>
              {{ form.id_tipo_empresa }}
              <small class="text-muted">{{ form.id_tipo_empresa.errors }}</small>
            </fieldset>
          </div>
        </div>
        {% endif %}

        <h5 class="m-t-lg with-border">Contato</h5>
        <div class='row'>
           <div class="col-lg-12">
            <div id="id_phone_table" class="row form-group-attached p-t-10" >
              {% for form in formset.forms %}
                <div id="{{ form.prefix }}-row" class="tr form-group-attached">
                  <div class="col-lg-3">
                    <fieldset class="form-group">
                      <label class="form-label semibold" for="{{ form.id_cidade.tipo_telefone }}">{{ form.tipo_telefone.label_tag }}</label>
                      {{ form.tipo_telefone }}
                      <small class="text-muted">{{ form.tipo_telefone.errors }}</small>
                    </fieldset>
                  </div>
                  <div class="col-lg-3">
                    <fieldset class="form-group">
                      <label class="form-label semibold" for="{{ form.numero.auto_id }}">{{ form.numero.label_tag }}</label>
                      {{ form.numero }}
                      <small class="text-muted">{{ form.numero.errors }}</small>
                    </fieldset>
                  </div>
                  <div class="col-lg-3">
                    <fieldset class="form-group">
                      <label class="form-label semibold" for="{{ form.ramal.auto_id }}">{{ form.ramal.label_tag }}</label>
                      {{ form.ramal }}
                      <small class="text-muted">{{ form.ramal.errors }}</small>
                    </fieldset>
                  </div>
                  <div class="col-lg-3">
                    <fieldset class="form-group">
                      <label class="form-label semibold" for="{{ form.nome_contato.auto_id }}">{{ form.nome_contato.label_tag }}</label>
                      {{ form.nome_contato }}
                      <small class="text-muted">{{ form.nome_contato.errors }}</small>
                    </fieldset>
                  </div>
                </div>
                {% endfor %}
                {{ formset.management_form }}           
            </div>
          </div>          
        </div>

        <h5 class="m-t-lg with-border">Endereço</h5>
        <div class='row'>
           <div class="col-lg-4">
            <fieldset class="form-group">
              <label class="form-label semibold" for="{{ form.pais.auto_id }}">{{ form.pais.label_tag }}</label>
              {{ form.pais }}
              <small class="text-muted">{{ form.pais.errors }}</small>
            </fieldset>
          </div>
          <div class="col-lg-4">
            <fieldset class="form-group">
              <label class="form-label semibold" for="{{ form.estado.auto_id }}">{{ form.estado.label_tag }}</label>
              {{ form.estado }}
              <small class="text-muted">{{ form.estado.errors }}</small>
            </fieldset>
          </div>
          <div class="col-lg-4">
            <fieldset class="form-group">
              <label class="form-label semibold" for="{{ form.cep.auto_id }}">{{ form.cep.label_tag }}</label>
              {{ form.cep }}
              <small class="text-muted">{{ form.cep.errors }}</small>
            </fieldset>
          </div>
        </div>

        <div class='row'>
           <div class="col-lg-4">
            <fieldset class="form-group">
              <label class="form-label semibold" for="{{ form.cidade.auto_id }}">{{ form.cidade.label_tag }}</label>
              {{ form.cidade }}
              <small class="text-muted">{{ form.cidade.errors }}</small>
            </fieldset>
          </div>
          <div class="col-lg-4">
            <fieldset class="form-group">
              <label class="form-label semibold" for="{{ form.bairro.auto_id }}">{{ form.bairro.label_tag }}</label>
              {{ form.bairro }}
              <small class="text-muted">{{ form.bairro.errors }}</small>
            </fieldset>
          </div>
          <div class="col-lg-4">
            <fieldset class="form-group">
              <label class="form-label semibold" for="{{ form.rua.auto_id }}">{{ form.rua.label_tag }}</label>
              {{ form.rua }}
              <small class="text-muted">{{ form.rua.errors }}</small>
            </fieldset>
          </div>
        </div>

        <div class='row'>
           <div class="col-lg-4">
            <fieldset class="form-group">
              <label class="form-label semibold" for="{{ form.numeroed.auto_id }}">{{ form.numeroed.label_tag }}</label>
              {{ form.numeroed }}
              <small class="text-muted">{{ form.numeroed.errors }}</small>
            </fieldset>
          </div>
          <div class="col-lg-8">
            <fieldset class="form-group">
              <label class="form-label semibold" for="{{ form.complemento.auto_id }}">{{ form.complemento.label_tag }}</label>
              {{ form.complemento }}
              <small class="text-muted">{{ form.complemento.errors }}</small>
            </fieldset>
          </div>
          
        </div>

        <div class='row'>
          <div class="col-lg-12">
              <fieldset class="form-group">
                <label class="form-label semibold" for="{{ form.pontoreferencia.auto_id }}">{{ form.pontoreferencia.label_tag }}</label>
                {{ form.pontoreferencia }}
                <small class="text-muted">{{ form.pontoreferencia.errors }}</small>
              </fieldset>
          </div>
        </div>

        {% block subclass_form %}{% endblock %}        

        {% block buttom %}
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <button type="submit" class="btn btn-success btn-cons">
                Salvar
              </button>
              <div class="pull-right">
              <a class="btn btn-secondary-outline" href="{% url 'company-list' %}">
                Cancelar
              </a>
              </div>
            </div>
          </div>
        </div>
        {% endblock %}

      </form>
    </div>
  </div>
  <!-- END PANEL -->
</div>
{% endblock %}

{% block javascript %}

    
   <script src="{% static 'js/default/jquery.mask.min.js' %}" type="text/javascript"></script>
   <script src="{% static 'js/default/form_wizard.js' %}" type="text/javascript"></script>
   <script src="{% static 'js/default/jquery.bootstrap.wizard.min.js' %}" type="text/javascript">
   </script>
   <script>
      $(document).ready(function() {

        // multiple fields
        $(function() {
          $('#id_phone_table tbody tr').formset()
        })

         //Input mask
         $("#id_cnpj").mask("99.999.999/9999-99"); <!-- CNPJ EXEMPLE : 06.990.590/0002-04 -->
         $("#id_cep").mask("99.999-999");

          var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
          },
          spOptions = {
            onKeyPress: function(val, e, field, options) {
                field.mask(SPMaskBehavior.apply({}, arguments), options);
            }
          };
          $('.celphones').mask(SPMaskBehavior, spOptions);

         //Select2
         $("#id_tipo_empresa").select2();
      });

      var hostname = location.host

      //Service CNPJ
      function get_cnpj_data(value){
         var cnpj = value.replace(/\D/g,'');
         var url = "http://"+hostname+"/framework/service/cnpj/"
         if(cnpj){
            $.ajax({
              type: 'GET',
              url: url,
              data:{'cnpj':cnpj},
              dataType:'json',
              success: function(response) {
                  console.log(response)
                  document.getElementById("id_razaosocial").value = response.nome
                  if (response.fantasia){
                    document.getElementById("id_nomefantasia").value = response.fantasia
                  }else{
                    document.getElementById("id_nomefantasia").value = response.nome
                  }
                  document.getElementById("id_pais").value = 'Brazil'
                  document.getElementById("id_estado").value = response.uf
                  document.getElementById("id_cep").value = response.cep
                  document.getElementById("id_cidade").value = response.municipio
                  document.getElementById("id_bairro").value = response.bairro
                  document.getElementById("id_rua").value = response.logradouro
                  document.getElementById("id_numeroed").value = response.numero
                  document.getElementById("id_complemento").value = response.complemento
              },
              error: function(response) {
                  console.log(response)
              }
            });
         }
      };
      //Service CEP
      function get_cep_data(value){
         var cep = value.replace(/\D/g,'');
         var url = "http://"+hostname+"/framework/service/cep/"
         if(cep){
            $.ajax({
              type: 'GET',
              url: url,
              data:{'cep':cep},
              dataType:'json',
              success: function(response) {
                  console.log(response)
                  document.getElementById("id_estado").value = response.estado
                  document.getElementById("id_cidade").value = response.cidade
                  document.getElementById("id_bairro").value = response.bairro
                  document.getElementById("id_rua").value = response.logradouro
              },
              error: function(response) {
                  console.log(response)
              }
            });
         }
      };

      
   </script>
{% endblock %}