{% extends "default/panel/layout.html" %} 
{% load staticfiles %}

{% block css %}
 
{% endblock %}

{% block page_info %}
    <li>
      <a class="active">Cliente</a>
    </li>
{% endblock %}

{% block content %}
<div class="panel panel-transparent">
  <div class="panel-heading">
    <div class="panel-title fs-16">
      Cliente
    </div>
    <div class="btn-group pull-right m-b-10">
      <a class="btn btn-default" href="/framework/dashboard/cliente/register/" type="button"><i class="fs-14 pg-plus"></i>
        Inserir</a>
    </div>
    <!--
    <div class="pull-right">
      <div class="col-xs-12">
        <input type="text" id="search-table" class="form-control pull-right" placeholder="Buscar">
      </div>
    </div>
    -->
    <div class="clearfix"></div>
  </div>

  <div class="panel-body">
   <table id="datatable" class="table table-hover table-condensed table-responsive">
        <thead>
          <tr>
             <th style="width:25%">Nome</th>
             <th style="width:25%">Email</th>
             <th style="width:25%">CPF</th>
             <th style="width:25%">Opções</th>
          </tr>
       </thead>
       <tbody>
          {% for cliente in object_list %}
          <tr>
             <td class="v-align-middle ">
                <p>{{cliente.usuario.nomecompleto}}</p>
             </td>
             <td class="v-align-middle">
                <p>{{cliente.usuario.email}}</p>
             </td>   
             <td class="v-align-middle">
                <p>{{cliente.usuario.cpf}}</p>
             </td>                 
             <td class="v-align-middle">
                <a href="/framework/dashboard/cliente/detail/{{cliente.pk}}">
                <i class="pg-search"></i>
                </a>
                <a href="/framework/dashboard/cliente/edit/{{cliente.pk}}">
                <i class="pg-settings"></i>
                </a>
                {% if request.user.id_usuario != usuario.id_usuario %}
                <a href="/framework/dashboard/cliente/delete/{{cliente.usuario.pk}}">
                <i class="pg-eraser"></i>
                </a>
                {% endif %}
             </td>
          </tr>
          {% endfor %}
       </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block javascript %}
  
{% endblock %}