{% extends "default/user/register.html" %}
{% block title %} Emissor {% endblock %}
{% block subclass_form %}
<div class='row'>
   <div class="col-lg-12">
    <fieldset class="form-group">
      <label class="form-label semibold" for="{{ form.id_agencia.auto_id }}">{{ form.id_agencia.label_tag }}<i style="color:red">*</i></label>
      {{ form.id_agencia }}
      <small class="text-muted">{{ form.id_agencia.errors }}</small>
    </fieldset>
  </div>
</div>
{% endblock %}
{% block buttom %} 
<div class="row">
  <div class="col-lg-12">
    <div class="form-group">
      <button type="submit" class="btn btn-success btn-cons">
        Salvar
      </button>
      <div class="pull-right">
      <a class="btn btn-secondary-outline" href="{% url 'emissor-list' %}">
        Cancelar
      </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}