{% extends "default/user/register.html" %}
{% block title_top %} Emissor {% endblock %}
{% block tab_01 %} Dados do Emissor{% endblock %}
{% block subclass_itens %}
<li class="">
   <a data-toggle="tab" href="#tab3"><i class="fa fa-truck tab-icon"></i> 
   <span>
   Extras
   </span>
   </a>
</li>
{% endblock %}
{% block subclass_form %}
<div class="tab-pane slide-left padding-20" id="tab3">
   <div class="row row-same-height">
      <div class="col-md-12">
         <div class="padding-10">

            <div class="row clearfix">
               <div class="col-sm-12">
                  <div class="form-group ">
                     <label>{{form.id_agencia.label_tag}}</label>
                     {{form.id_agencia}}
                  </div>
               </div>
            </div>

         </div>
      </div>
   </div>
</div>
{% endblock %}