{% extends "default/user/edit.html" %}
{% block subclass_itens %}
<li class="">
   <a data-toggle="tab" href="#tab3"><i class="fa fa-truck tab-icon"></i> 
   <span>
   Extras
   </span>
   </a>
</li>
{% endblock %}
{% block subclass_form %}
<div class="tab-pane slide-left padding-20" id="tab3">
   <div class="row row-same-height">
      <div class="col-md-12">
         <div class="padding-10">

            <div class="row clearfix">
               <div class="col-sm-4">
                  <div class="form-group ">
                     <label>{{form.id_escola.label_tag}}</label>
                     {{form.id_escola}}
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="form-group  required">
                     <label>{{form.matricula.label_tag}}</label>
                     {{form.matricula}}
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="form-group  required">
                     <label>{{form.natularidade.label_tag}}</label>
                     {{form.natularidade}}
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-4">
                  <div class="form-group  required">
                     <label>{{form.numero_passaporte.label_tag}}</label>
                     {{form.numero_passaporte}}
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="form-group  required">
                     <label>{{form.data_validade_passaporte.label_tag}}</label>
                     <input type="text" value="{{form.data_validade_passaporte.value|date:'d/m/Y'}}" name="data_validade_passaporte" id="id_data_validade_passaporte" class="form-control">
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-4">
                  <div class="form-group  required">
                     <label>{{form.observacao.label_tag}}</label>
                     {{form.observacao}}
                  </div>
               </div>
            </div>
            <div class='row'>
               <div id="id_doc_table" class="row form-group-attached p-t-10">
                   {% for form in doc_formset.forms %}
                   <div id="{{ form.prefix }}-row" class="tr form-group-attached">
                       <div class="row">
                           <div class="col-sm-5">
                               <div class="form-group form-group-default">
                                   <label>{{ form.id_tipo_documento.label_tag }}</label>
                                   <div style="text-align:center;">
                                     {{ form.id_tipo_documento }}
                                   </div>
                               </div>
                           </div>
                           <div class="col-sm-7">
                               <div class="form-group form-group-default">
                                   <label>{{ form.anexo.label_tag}} </label>
                                   <div style="text-align:center;">
                                     {{ form.anexo }}
                                   </div>
                               </div>
                           </div>
                           <div></div>
                       </div>
                   </div>
                   {% endfor %} {{ doc_formset.management_form }}
                 </div>
            </div>

         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
$(function() {
        $("#id_id_escola").select2();
        $('#id_data_validade_passaporte').mask("99/99/9999");
        $('#id_doc_table .tr').formset({
         prefix: '{{ doc_formset.prefix }}'
       })
    })
</script>
{% endblock %}