{% extends "default/user/edit.html" %}
{% block title %} Passageiro {% endblock %}
{% block subclass_form %}
<h5 class="m-t-lg with-border">Responsável</h5>
<div class='row'>
   <div class="col-lg-6">
    <fieldset class="form-group">
      <label class="form-label semibold" for="{{ form.nome_pai.auto_id }}">{{ form.nome_pai.label_tag }}</label>
      {{ form.nome_pai }}
      <small class="text-muted">{{ form.nome_pai.errors }}</small>
    </fieldset>
  </div>
  <div class="col-lg-6">
    <fieldset class="form-group">
      <label class="form-label semibold" for="{{ form.nome_mae.auto_id }}">{{ form.nome_mae.label_tag }}</label>
      {{ form.nome_mae }}
      <small class="text-muted">{{ form.nome_mae.errors }}</small>
    </fieldset>
  </div>
  <div class="col-lg-4">
    <fieldset class="form-group">
      <label class="form-label semibold" for="{{ form.responsavel.auto_id }}">{{ form.responsavel.label_tag }}</label>
      {{ form.responsavel }}
      <small class="text-muted">{{ form.responsavel.errors }}</small>
    </fieldset>
  </div>
  <div class="col-lg-4">
    <fieldset class="form-group">
      <label class="form-label semibold" for="{{ form.telefone_responsavel.auto_id }}">{{ form.telefone_responsavel.label_tag }}</label>
      {{ form.telefone_responsavel }}
      <small class="text-muted">{{ form.telefone_responsavel.errors }}</small>
    </fieldset>
  </div>
  <div class="col-lg-4">
    <fieldset class="form-group">
      <label class="form-label semibold" for="{{ form.email_responsavel.auto_id }}">{{ form.email_responsavel.label_tag }}</label>
      {{ form.email_responsavel }}
      <small class="text-muted">{{ form.email_responsavel.errors }}</small>
    </fieldset>
  </div>
</div>

<h5 class="m-t-lg with-border">Dados da Escola</h5>
<div class='row'>
   <div class="col-lg-4">
    <fieldset class="form-group">
      <label class="form-label semibold" for="{{ form.id_escola.auto_id }}">{{ form.id_escola.label_tag }}</label>
      {{ form.id_escola }}
      <small class="text-muted">{{ form.id_escola.errors }}</small>
    </fieldset>
  </div>
  <div class="col-lg-4">
    <fieldset class="form-group">
      <label class="form-label semibold" for="{{ form.matricula.auto_id }}">{{ form.matricula.label_tag }}</label>
      {{ form.matricula }}
      <small class="text-muted">{{ form.matricula.errors }}</small>
    </fieldset>
  </div>
  <div class="col-lg-4">
    <fieldset class="form-group">
      <label class="form-label semibold" for="{{ form.natularidade.auto_id }}">{{ form.natularidade.label_tag }}</label>
      {{ form.natularidade }}
      <small class="text-muted">{{ form.natularidade.errors }}</small>
    </fieldset>
  </div>
</div>

<div class='row'>
   <div class="col-lg-6">
    <fieldset class="form-group">
      <label class="form-label semibold" for="{{ form.numero_passaporte.auto_id }}">{{ form.numero_passaporte.label_tag }}</label>
      {{ form.numero_passaporte }}
      <small class="text-muted">{{ form.numero_passaporte.errors }}</small>
    </fieldset>
  </div>
  <div class="col-lg-6">
    <fieldset class="form-group">
      <label class="form-label semibold" for="{{ form.data_validade_passaporte.auto_id }}">{{ form.data_validade_passaporte.label_tag }}</label>
      <input type="text" placeholder="__/__/__" value="{{form.data_validade_passaporte.value|date:'d/m/Y' }}" name="data_validade_passaporte" id="id_data_validade_passaporte" class="form-control">
      <small class="text-muted">{{ form.data_validade_passaporte.errors }}</small>
    </fieldset>
  </div>
</div>

<div class='row'>
   <div class="col-lg-12">
    <fieldset class="form-group">
      <label class="form-label semibold" for="{{ form.observacao.auto_id }}">{{ form.observacao.label_tag }}</label>
      {{ form.observacao }}
      <small class="text-muted">{{ form.observacao.errors }}</small>
    </fieldset>
  </div>
</div>

<h5 class="m-t-lg with-border">Documentos</h5>
<div class='row'>
   <div class="col-lg-12">
    <div id="id_doc_table" class="row form-group-attached p-t-10" >
      {% for form in doc_formset.forms %}
        <div id="{{ form.prefix }}-row" class="tr form-group-attached">
          <div class="col-lg-6">
            <fieldset class="form-group">
              <label class="form-label semibold" for="{{ form.id_tipo_documento.auto_id }}">{{ form.id_tipo_documento.label_tag }}</label>
              {{ form.id_tipo_documento }}
              <small class="text-muted">{{ form.id_tipo_documento.errors }}</small>
            </fieldset>
          </div>
          <div class="col-lg-5">
            <fieldset class="form-group">
              <label class="form-label semibold" for="{{ form.anexo.auto_id }}">{{ form.anexo.label_tag }}</label>
              {{ form.anexo }}
              <small class="text-muted">{{ form.anexo.value|default:'' }}</small>
              <small class="text-muted">{{ form.anexo.errors }}</small>
            </fieldset>
          </div>
          <div class="col-lg-1">
            <fieldset class="form-group">
              <label class="form-label semibold" for="id_deletar_anexo">Deletar Doc.?</label>
               <input class="form-control" id="id_deletar_anexo" type="checkbox" name="deletar_anexo" value="{{ form.anexo.value}}" /> 
            </fieldset>
          </div>
        </div>
        {% endfor %}
        {{ doc_formset.management_form }}           
    </div>
  </div>          
</div>

{% endblock %}
{% block buttom %} 
<div class="row">
  <div class="col-lg-12">
    <div class="form-group">
      <button type="submit" class="btn btn-success btn-cons">
        Salvar
      </button>
      <div class="pull-right">
      <a class="btn btn-secondary-outline" href="{% url 'passageiro-list' %}">
        Cancelar
      </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
$(function() {
        $("#id_id_escola").select2();
        $('#id_data_validade_passaporte').mask("99/99/9999");
        $('#id_doc_table .tr').formset({
         prefix: '{{ doc_formset.prefix }}'
       })
    })
</script>
{% endblock %}