{% extends "default/panel/layout.html" %} {% load staticfiles %} {% block css %} {% endblock %} {% block page_info %}
<li>
    <a class="active">Passageiro</a>
</li>
{% endblock %} {% block content %}
<div class="panel panel-transparent">
    <div class="panel-heading">
        <div class="panel-title fs-16">
            Passageiro
        </div>
        <div class="btn-group pull-right m-b-10">
            <a class="btn btn-default" href="/framework/dashboard/passageiro/register/" type="button">Cadastrar</a>
        </div>
        <!--
        <div class="pull-right">
            <div class="col-xs-12">
                <input type="text" id="search-table" class="form-control pull-right" placeholder="Buscar">
            </div>
        </div>
        s-->
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <table id="datatable" class="table table-hover table-condensed table-responsive">
            <thead>
                <tr>
                    <th style="width:20%">Nome</th>
                    <th style="width:20%">Escola</th>
                    <th style="width:20%">Email</th>
                    <th style="width:10%">Tipo Telefone</th>
                    <th style="width:15%">Telefone</th>
                    <th style="width:15%">Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for passageiro in passageiros %}
                <tr>
                    <td class="v-align-middle ">
                        <p>{{passageiro.0.id_usuario.nomecompleto}}</p>
                    </td>
                    <td class="v-align-middle">
                        <p>{{passageiro.0.id_escola}}</p>
                    </td>
                    <td class="v-align-middle">
                        <p>{{passageiro.0.id_usuario.email}}</p>
                    </td>
                    <td class="v-align-middle">
                        <p>{{passageiro.1.id_tipo_telefone.descricao}}</p>
                    </td>
                    <td class="v-align-middle">
                        <p>{{passageiro.1.numero}}</p>
                    </td>
                    <td class="v-align-middle">
                        <a href="/framework/dashboard/passageiro/edit/{{passageiro.0.pk}}">
                            <i class="pg-settings"></i>
                        </a>
                        {% if request.user.id_usuario != usuario.id_usuario %}
                        <a href="/framework/dashboard/passageiro/delete/{{passageiro.0.id_usuario.pk}}">
                            <i class="pg-eraser"></i>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %} {% block javascript %} {% endblock %}
