{% extends "default/panel/layout.html" %}
{% load staticfiles %}

{% block page_info %}
    <li>
      <b>Excursão</b>
    </li>
    <li>
      <a class="active">Cadastro</a>
    </li>    
{% endblock %}

{% block content %}
  <div class="col-md-12">
  <!-- START PANEL -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
      </div>
    </div>
    <div class="panel-body">
      <form autocomplete="off"  method="post" enctype="multipart/form-data" role="form" id="form-personal" novalidate="novalidate">
        {% csrf_token %}
        <div class='row'>
           <div class="col-lg-12">
            <fieldset class="form-group">
              <label class="form-label semibold" for="{{ form.excurcao_desc.auto_id }}">{{ form.excurcao_desc.label_tag }}</label>
              {{ form.excurcao_desc }}
              <small class="text-muted">{{ form.excurcao_desc.errors }}</small>
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="checkbox check-success">
              {{ form.is_active }}
              <label for="id_is_active">Ativa</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="checkbox check-success">
              {{ form.is_internacional }}
              <label for="id_is_internacional">É Internacional?</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <button type="submit" class="btn btn-success btn-cons">
                Salvar
              </button>
              <div class="pull-right">
              <a class="btn btn-secondary-outline" href="{% url 'excursao-list' %}">
                Cancelar
              </a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- END PANEL -->
</div>
{% endblock %}