{% extends "default/panel/layout.html" %} 

{% block page_info %}
   <li>
     <b>Opcional</b>
   </li>
   <li>
     <a class="active">Detalhes</a>
   </li>
{% endblock %}

{% block content %}
   <div class="bg-white">
      <!-- START PANEL -->
      <div class="panel panel-transparent">
         <div class="panel-heading">
            <div class="panel-title">
               Opcional
            </div>
            <div class="row">

                  <!-- BASIC DATA -->
                  <div class="col-lg-12 col-md-12 ">
                     <!-- START PANEL -->
                     <div class="panel panel-transparent">
                        <div class="panel-body">
                           <div class="row clearfix">
                              <div class="col-sm-12">
                                 <div class="form-group  required" aria-required="true">
                                    <label>Descrição</label>
                                    {{object.opcional_desc}}
                                 </div>
                                 <div class="form-group  required" aria-required="true">
                                    <label>Preço</label>
                                    {{object.opcional_preco}}
                                 </div>
                                 <div class="form-group  required" aria-required="true">
                                    <label>Moeda</label>
                                    {{object.id_moeda}}
                                 </div>
                                 <div class="form-group  required" aria-required="true">
                                    <label>Taxa</label>
                                    {{object.percentage}} %
                                 </div>
                              </div>
                           </div>
                           
                        </div>
                     </div>
                     <!-- END PANEL -->
                  </div>
                  <!-- END BASIC DATA -->                 
            </div>
         </div>
      </div>
      <!-- END PANEL -->
   </div>
{% endblock %}