{% extends "default/panel/layout.html" %}
{% load staticfiles %}

{% block page_info %}
    <li>
      <b>Opcional</b>
    </li>
    <li>
      <a class="active">Editar</a>
    </li>    
{% endblock %}

{% block content %}
  <div class="col-md-12">
  <!-- START PANEL -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
      </div>
    </div>
    <div class="panel-body">
      <form autocomplete="off"  method="post" enctype="multipart/form-data" role="form" id="form-personal" novalidate="novalidate">
        {% csrf_token %}
        <div class='row'>
           <div class="col-lg-12">
            <fieldset class="form-group">
              <label class="form-label semibold" for="{{ form.opcional_desc.auto_id }}">{{ form.opcional_desc.label_tag }}<i style="color:red">*</i></label>
              {{ form.opcional_desc }}
              <small class="text-muted">{{ form.opcional_desc.errors }}</small>
            </fieldset>
          </div>
        </div>
        <div class='row'>
          <div class="col-lg-4">
            <fieldset class="form-group">
              <label class="form-label semibold" for="{{ form.opcional_preco.auto_id }}">{{ form.opcional_preco.label_tag }}<i style="color:red">*</i></label>
              {{ form.opcional_preco }}
              <small class="text-muted">{{ form.opcional_preco.errors }}</small>
            </fieldset>
          </div>
          <div class="col-lg-4">
            <fieldset class="form-group">
              <label class="form-label semibold" for="{{ form.id_moeda.auto_id }}">{{ form.id_moeda.label_tag }}<i style="color:red">*</i></label>
              {{ form.id_moeda }}
              <small class="text-muted">{{ form.id_moeda.errors }}</small>
            </fieldset>
          </div>
          <div class="col-lg-4">
            <fieldset class="form-group">
              <label class="form-label semibold" for="{{ form.taxa_remessa.auto_id }}">{{ form.taxa_remessa.label_tag }}<i style="color:red">*</i></label>
              {{ form.taxa_remessa }}
              <small class="text-muted">{{ form.taxa_remessa.errors }}</small>
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <button type="submit" class="btn btn-success btn-cons">
                Salvar
              </button>
              <div class="pull-right">
              <a class="btn btn-secondary-outline" href="{% url 'opcional-list' %}">
                Cancelar
              </a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- END PANEL -->
</div>
{% endblock %}