<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>VCD</title>
    <link rel="stylesheet" href="/static/css/default/invoice.css" media="all" />
  </head>
  <body>
    <header class="clearfix">
      <div id="logo">
        <img src="/static/img/default/logo.png">
      </div>
      <h1>RECIBO DE VENDA</h1>
      <div id="company" class="clearfix">
        <div>VCD OPERADORA</div>
        <!--
        <div>455 Foggy Heights,<br /> AZ 85004, US</div>
        <div>(602) 519-0450</div>
        <div><a href="mailto:company@example.com">company@example.com</a></div>
        -->
      </div>
      <div id="project">
        <div>
          <span>CLIENTE: </span>
          {{reservapassageiro.id_reserva.id_cliente}}
        </div>
        <div>
          <span>EMAIL: </span> 
          <a href="mailto:{{reservapassageiro.id_reserva.id_cliente.usuario.email}}">{{reservapassageiro.id_reserva.id_cliente.usuario.email}}</a>
        </div>
        <div>
          <span>CPF: </span> 
          {{reservapassageiro.id_reserva.id_cliente.usuario.cpf}}
        </div>
        <!--
        <div><span>ADDRESS</span> 796 Silver Harbour, TX 79273, US</div>
        -->
        <div>
          <span>RESERVA: </span> 
          {{reservapassageiro.id_reserva.pk}}
        </div>
        <div>
          <span>DATA: </span> 
          {{reservapassageiro.id_reserva.data_reserva|date:'d/m/Y'}}
        </div>
      </div>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            <th class="service">ITENS</th>
            <th class="unit">VALOR</th>
            <th>QUANTIDADE</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="service">
              {{ reservapassageiro.id_pacote.id_excursao }} - 
              {{ reservapassageiro.id_pacote }} - 
              {{ reservapassageiro.id_acomodacao_pacote }}
            </td>
            <td class="unit">
              {{reservapassageiro.id_moeda.moeda_simbolo}} {{reservapassageiro.preco_acomodacao}}
            </td>
            <td class="qty">
              1
            </td>
            <td class="total">
              {{reservapassageiro.id_moeda.moeda_simbolo}} {{reservapassageiro.preco_acomodacao}}
            </td>
          </tr>
          {% for opcional in reservapassageiro.passageiro_opcional.all %}
            <tr>
              <td class="service">
                {{ opcional.id_reserva_passageiro.id_pacote.id_excursao }} - 
                {{ opcional.id_reserva_passageiro.id_pacote }} - 
                {{ opcional.id_opcional }}
              </td>
              <td class="unit">
                {{ opcional.id_opcional.id_moeda.moeda_simbolo}} {{ opcional.id_opcional.opcional_preco }}
              </td>
              <td class="qty">
                1
              </td>
              <td class="total">
                {{opcional.id_opcional.id_moeda.moeda_simbolo}} {{opcional.id_opcional.opcional_preco}}
              </td>
            </tr>
          {% endfor %}
          <tr>
            <td colspan="3">VALOR</td>
            <td class="total">{{reservapassageiro.id_moeda.moeda_simbolo}} {{ valor }}</td>
          </tr>
          <tr>
            <td colspan="3">DESCONTOS</td>
            <td class="total">{{reservapassageiro.id_moeda.moeda_simbolo}} {{ desconto }}</td>
          </tr>
          <tr>
            <td colspan="3" class="grand total">TOTAL</td>
            <td class="grand total">{{reservapassageiro.id_moeda.moeda_simbolo}} {{ total }}</td>
          </tr>
        </tbody>
      </table>
      <div id="notices">
        <div>OBSERVAÇÕES:</div>
        <div class="notice">{{reservapassageiro.reserva_passageiro_obs}}</div>
      </div>
    </main>
    <footer>
      Recibo criado por computador e válido sem selo ou assinatura.
    </footer>
  </body>
</html>