{% load staticfiles %}
{% load filters %}
<div class="modal fade stick-up" id="modalOpcional" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header clearfix text-left">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
          </button>
          <h5 id="modal-title-tag semi-bold">Adicionar <span class="semi-bold">Passageiro</span></h5>
          <p class="p-b-10"></p>
      </div>
      <div class="modal-body">
          <form autocomplete="off" method="post" enctype="multipart/form-data" role="form" id="form-opcional">
            {% csrf_token %}
            <div class="row row-same-height">
                <div class="col-md-12">
                    <div class="padding-10">
                        <div class="row hidden">
                            <div class="col-sm-6">
                                <div class="form-group required" value="">
                                    <label for="id_passageiro" class="">
                                        Passageiro:
                                    </label>
                                    {{ form_opcional.id_passageiro|htmlattributes:"required:required"}}
                                </div>                                        
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group " value="">
                                    <label for="id_opcional" class="">
                                        Opcionais:
                                    </label>
                                    {{ form_opcional.id_opcional|htmlattributes:"required:required"}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group " value="">
                                    <label for="id_moeda" class="">
                                        Moeda:
                                    </label>
                                    {{ form_opcional.moeda_desc|htmlattributes:"required:required"}}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group " value="">
                                    <label for="preco_reserva_opcional" class="">
                                        Preço:
                                    </label>
                                    {{ form_opcional.preco_reserva_opcional|htmlattributes:"required:required"}}
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>

                    <div style="display:none;">
                        {{ form_opcional.id_moeda }}
                        {{ form_opcional.id_reserva_passageiro }}
                        <div id="id_reserva" style="display:none">{{request.resolver_match.kwargs.pk}}</div>
                    </div>

                    <div class="row">
                        <button type="button" id="new_opcional_btn" class="btn btn-primary pull-right">Salvar</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
<!-- /.modal-content -->
</div>
</div>
<!-- /.modal-dialog -->
</div>