{% extends "default/panel/layout.html" %} {% load staticfiles %} {% block page_info %}
{% load filters %}
<li>
    <b>Reserva</b>
</li>
<li>
    <a class="active">Cadastro</a>
</li>
</ul>
{% endblock %} {% block content %} {% if context %} {% for title, value in context.items %} {{title}} : {{value}}
{% endfor %} {% endif %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default clearfix p-t-10  p-b-20">
                <div class="col-sm-8">
                    <div class="form-group  required">
                        <label class="fs-16">Cliente</label>
                        {{ form.id_cliente }}
                    </div>
                </div>
                <div style="display:none;">
                    {{ form.id_status_reserva_passageiro }}
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary m-t-25 m-r-5 pull-right" onclick="finalizarAgendamento()">
                        Finalizar Reserva
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default clearfix">
                <div class="panel-heading">
                    <h2 class="panel-title pull-left">Passageiros</h2>
                    <button class="btn btn-primary pull-right" data-target="#modalPassageiro" style="margin-top:-10px" data-toggle="modal">Adicionar Passageiro</button>
                </div>
                <div class="col-sm-12" id="divDetalhes">
                    {% include 'venda/reserva/reservas_snippet.html'%}
                </div>
            </div>
        </div>

        {% include 'venda/reserva/modal_passageiro_register.html' %}
        {% include 'venda/reserva/modal_passageiro_edit.html' %}
        {% include 'venda/reserva/modal_opcional_register.html' %}

    </div>


{% endblock %} 
{% block javascript %}
<script src="{% static 'js/default/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/default/jquery.inputmask.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/default/form_wizard.js' %}" type="text/javascript"></script>
<script src="{% static 'js/default/jquery.bootstrap.wizard.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'js/default/bootstrap-datepicker.js' %}" type="text/javascript"></script>
<script>
    url = "{% url 'add-passageiro' request.resolver_match.kwargs.pk %}";
    url_edit = "{% url 'edit-passageiro' %}";
    url_opcional = "{% url 'add-opcional' request.resolver_match.kwargs.pk %}";
    url_finalizar = "/en/framework/dashboard/finalizaragendamento/";
    id_reserva = "{{ request.resolver_match.kwargs.pk }}";
    url_list = "{% url 'reserva-list' %}";
</script>
<script src="{% static 'js/venda/custom.js' %}" type="text/javascript"></script>

{% endblock %}
