{% extends "default/panel/layout.html" %} {% load staticfiles %} {% block page_info %}
{% load filters %}
<li>
    <b>Reserva</b>
</li>
<li>
    <a class="active">Cadastro</a>
</li>
</ul>
{% endblock %} {% block content %} {% if context %} {% for title, value in context.items %} {{title}} : {{value}}
{% endfor %} {% endif %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default clearfix p-t-10  p-b-20">
                <div class="col-sm-8">
                    <div class="form-group  required">
                        <label class="fs-16">Cliente</label>
                        {{ form.id_cliente }}
                    </div>
                </div>
                <div style="display:none;">
                    {{ form.id_status_reserva_passageiro }}
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary m-t-25 m-r-5 pull-right" onclick="finalizarAgendamento()">
                        Finalizar Reserva
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default clearfix">
                <div class="panel-heading">
                    <h2 class="panel-title pull-left">Passageiros</h2>
                    <button class="btn btn-primary pull-right" data-target="#modalPassageiro" style="margin-top:-10px" data-toggle="modal">Adicionar Passageiro</button>
                </div>
                <div class="col-sm-12" id="divDetalhes">
                    {% include 'venda/reserva/reservas_snippet.html'%}
                </div>
            </div>
        </div>

        <div class="modal fade stick-up" id="modalPassageiro" tabindex="-1" role="dialog" aria-hidden="false">
          <div class="modal-dialog modal-lg">
            <div class="modal-content-wrapper">
              <div class="modal-content">
                <div class="modal-header clearfix text-left">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                  </button>
                  <h5 id="modal-title-tag semi-bold">Adicionar <span class="semi-bold">Passageiro</span></h5>
                  <p class="p-b-10"></p>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <form autocomplete="off" method="post" enctype="multipart/form-data" role="form" id="form-personal">
                          {% csrf_token %}
                          <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group  required" value="">
                                        <label for="id_valor_servico" class=" teste">Passageiro:</label>
                                        {{ form_passageiro.id_passageiro|htmlattributes:"required:required"}}
                                    </div>                                        
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group " value="">
                                        <label for="id_valor_pago" class="">Excursão:</label>
                                        {{ form_passageiro.id_excursao|htmlattributes:"required:required" }}
                                        <input type="text" value="true" class="hidden" id="edit-reserva" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group " value="">
                                        <label for="id_valor_pago" class="">Pacote:</label>
                                        {{ form_passageiro.id_pacote|htmlattributes:"required:required" }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group " value="">
                                        <label for="id_valor_pago" class="">Acomodação:</label>
                                        {{ form_passageiro.id_acomodacao_pacote|htmlattributes:"required:required" }}
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group " value="">
                                        <label for="id_valor_pago" class="">Preço Acomodação:</label>
                                        {{ form_passageiro.preco_acomodacao|htmlattributes:"required:required" }}
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group " value="">
                                        <label for="id_valor_pago" class="">Taxa:</label>
                                        {{ form_passageiro.reserva_passageiro_preco|htmlattributes:"required:required" }}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group " value="">
                                        <label for="id_valor_pago" class="">Moeda:</label>
                                        {{ form_passageiro.id_moeda|htmlattributes:"required:required" }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group " value="">
                                        <label for="id_valor_pago" class="">Cambio:</label>
                                        {{ form_passageiro.reserva_passageiro_cambio|htmlattributes:"required:required"  }}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group " value="">
                                        <label for="id_valor_pago" class="">Registro Interno:</label>
                                        {{ form_passageiro.registro_interno }}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group " value="">
                                        <label for="id_valor_pago" class="">Desconto:</label>
                                        {{ form_passageiro.desconto }}
                                    </div>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group " value="">
                                        <label for="id_valor_pago" class="">Obs:</label>
                                        {{ form_passageiro.reserva_passageiro_obs }}
                                    </div>
                                </div> 
                            </div>

                            <div style="display:none;">
                                {{ form_passageiro.id_status_reserva_passageiro }}
                            </div> 

                            <div class="row">
                                <button type="button" id="new_reserva_passageiro_btn" class="btn btn-primary pull-right">Salvar</button>
                            </div>  
                        </div> 
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
</div>
</div>
<!-- /.modal-dialog -->




<div class="modal fade stick-up" id="modalOpcional" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header clearfix text-left">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
          </button>
          <h5 id="modal-title-tag semi-bold">Adicionar <span class="semi-bold">Passageiro</span></h5>
          <p class="p-b-10"></p>
      </div>
      <div class="modal-body">
          <form autocomplete="off" method="post" enctype="multipart/form-data" role="form" id="form-opcional">
            {% csrf_token %}
            <div class="row row-same-height">
                <div class="col-md-12">
                    <div class="padding-10">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group  required" value="">
                                    <label for="id_passageiro" class="">
                                        Passageiro:
                                    </label>
                                    {{ form_opcional.id_passageiro|htmlattributes:"required:required"}}
                                </div>                                        
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group " value="">
                                    <label for="id_opcional" class="">
                                        Opcionais:
                                    </label>
                                    {{ form_opcional.id_opcional|htmlattributes:"required:required"}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group " value="">
                                    <label for="id_moeda" class="">
                                        Moeda:
                                    </label>
                                    {{ form_opcional.moeda_desc|htmlattributes:"required:required"}}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group " value="">
                                    <label for="preco_reserva_opcional" class="">
                                        Preço:
                                    </label>
                                    {{ form_opcional.preco_reserva_opcional|htmlattributes:"required:required"}}
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>

                    <div style="display:none;">
                        {{ form_opcional.id_moeda }}
                        {{ form_opcional.id_reserva_passageiro }}
                        <div id="id_reserva" style="display:none">{{request.resolver_match.kwargs.pk}}</div>
                    </div>

                    <div class="row">
                        <button type="button" id="new_opcional_btn" class="btn btn-primary pull-right">Salvar</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
<!-- /.modal-content -->
</div>
</div>
<!-- /.modal-dialog -->
</div>
{% endblock %} 
{% block javascript %}
<script src="{% static 'js/default/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/default/jquery.inputmask.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/default/form_wizard.js' %}" type="text/javascript"></script>
<script src="{% static 'js/default/jquery.bootstrap.wizard.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'js/default/bootstrap-datepicker.js' %}" type="text/javascript"></script>
<script>
    url = "{% url 'add-passageiro' request.resolver_match.kwargs.pk %}";
    url_opcional = "{% url 'add-opcional' request.resolver_match.kwargs.pk %}";
    url_finalizar = "/en/framework/dashboard/finalizaragendamento/";
    id_reserva = "{{ request.resolver_match.kwargs.pk }}";
    url_list = "{% url 'reserva-list' %}";
</script>
<script src="{% static 'js/venda/custom.js' %}" type="text/javascript"></script>

{% endblock %}
