<div class="table-responsive">
    <table class="table m-t-20 table-condensed">
        <thead class="p-t-20">
            <tr>
                <th class="text-black">
                    {{reservapassageiro.id_passageiro.id_usuario.nome}} 
                    {{reservapassageiro.id_passageiro.id_usuario.sobrenome}}
                </th>
                <th class="text-right text-black">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for pacote in reservapassageiro.id_passageiro.passageiro_opcional.all %}
                <tr>
                    <div style="display:none;" id="passageiro_{{reservapassageiro.id_passageiro.id_passageiro}}">
                        {% for pacote in passageiro.passageiro_opcional.all %}
                            {{pacote.id_opcional.pk}}|
                        {% endfor %}
                    </div>
                    <td class="no-border">
                        <p class="text-black">{{pacote.id_opcional}}</p>
                    </td>
                    <td class="text-right no-border">{{pacote.id_moeda.moeda_simbolo}} {{pacote.preco_reserva_opcional}}</td>
                </tr>
                {% if forloop.last %}
                    <tr class="no-padding no-margin">
                        <td></td>
                        <td class="text-right">
                            <a class="btn btn-md btn-primary" onclick="modalOpcional({{passageiro.id_passageiro.id_passageiro}})"  type="">
                                Adicionar Opcional
                            </a>
                        </td>
                    </tr>
                {% endif %}
            {% empty %}
                <tr class="no-padding no-margin">
                    <td>Nenhum opcional adicionado.</td>
                    <td class="text-right">
                        <a class="btn btn-md btn-primary" onclick="modalOpcional({{passageiro.id_passageiro.id_passageiro}})">
                            Adicionar Opcional
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>