<ul class="menu-items">

   <!-- MENU ITEM -->
   <li class="m-t-30">
      <a href="/framework/dashboard/home" class="detailed">
      <span class="title">Home</span>
      </a>
      <span class="icon-thumbnail bg-success"><i class="pg-home"></i></span>
   </li>
   <!-- END MENU ITEM -->

   <!-- MENU ITEM -->
   <li class="">
      <a href="javascript:;">
         <span class="title">Gerência</span>
         <span class="arrow"></span>
      </a>

      <span class="icon-thumbnail"><i class="pg-grid"></i></span>

      <!-- SECOND LEVEL -->
      <ul class="sub-menu">

         <!-- MENU ITEM -->
         <li class="">
            <a href="/framework/dashboard/user/list/">Usuários</a>
            <span class="icon-thumbnail">US</span>
         </li>
         <!-- END MENU ITEM -->

         <!-- SECOND MENU ITEM -->
         <li class="">
            <a href="/framework/dashboard/company/list/">Empresas</a>
            <span class="icon-thumbnail">EP</span>
         </li>

         <li class="">
           <a href="/framework/dashboard/moeda/list/">Moeda</a>
           <span class="icon-thumbnail">MO</span>
        </li>

        <li class="">
           <a href="/framework/dashboard/excursao/list/">Excursão</a>
           <span class="icon-thumbnail">EX</span>
        </li>
         <!-- END MENU ITEM -->         
                  
      </ul>
      <!-- END SECOND LEVEL -->

   </li>
   <!-- END MENU ITEM -->

   <!-- MENU ITEM -->
   <li class="">
      <a href="javascript:;">
         <span class="title">Subclasses</span>
         <span class="arrow"></span>
      </a>

      <span class="icon-thumbnail"><i class="pg-grid"></i></span>

      <!-- SECOND LEVEL -->
      <ul class="sub-menu">

         <!-- MENU ITEM -->
         <!--
         <li class="">
            <a href="/framework/dashboard/employee/list/">Funcionário</a>
            <span class="icon-thumbnail">FU</span>
         </li>
         -->
         <li class="">
            <a href="/framework/dashboard/cliente/list/">Cliente</a>
            <span class="icon-thumbnail">CL</span>
         </li>
         <li class="">
            <a href="/framework/dashboard/passageiro/list/">Passageiro</a>
            <span class="icon-thumbnail">CL</span>
         </li>
         <li class="">
            <a href="/framework/dashboard/emissor/list/">Emissor</a>
            <span class="icon-thumbnail">EM</span>
         </li>
         <!-- END MENU ITEM -->

         <!-- SECOND MENU ITEM -->
         <!--
         <li class="">
            <a href="/framework/dashboard/startup/list/">Statup</a>
            <span class="icon-thumbnail">ST</span>
         </li>
         -->
         <li class="">
            <a href="/framework/dashboard/escola/list/">Escola</a>
            <span class="icon-thumbnail">ES</span>
         </li>
         <li class="">
            <a href="/framework/dashboard/agencia/list/">Agência</a>
            <span class="icon-thumbnail">AG</span>
         </li>
         <!-- END MENU ITEM -->         
                  
      </ul>
      <!-- END SECOND LEVEL -->

   </li>
   <!-- END MENU ITEM -->

</ul>
<div class="clearfix"></div>

