{% extends "default/panel/layout.html" %}

{% block page_info %}
   <li>
      <b>Pacote</b>
   </li>
   <li>
      <a class="active">Detalhes</a>
   </li>
{% endblock %}

{% block content %}
   <div class="bg-white">
      <!-- START PANEL -->
      <div class="panel panel-transparent">
         <div class="panel-heading">
            <div class="panel-title">
               Pacote
            </div>
            <div class="row">
               <!-- BASIC DATA -->
               <div class="col-lg-6 col-md-6 ">
                  <!-- START PANEL -->
                  <div class="panel panel-transparent">
                     <div class="panel-body">
                        <div class="row clearfix">
                           <div class="col-sm-6">
                              <div class="form-group  required" aria-required="true">
                                 <label>Nome</label>
                                 {{object.pacote_nome}}
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group ">
                                 <label>Descrição</label>
                                 {{object.pacote_desc}}
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-6">
                              <div class="form-group ">
                                 <label>Excrusão</label>
                                 {{object.id_excursao}}
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group ">
                                 <label>Observação</label>
                                 {{object.pacote_obs}}
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-4">
                              <div class="form-group ">
                                 <label>Preço</label>
                                 {{object.id_moeda.moeda_simbolo}} {{object.pacote_preco}}
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="form-group ">
                                 <label>Taxa</label>
                                 {{object.id_moeda.moeda_simbolo}} {{object.pacote_taxa}}
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="form-group ">
                                 <label>Taxa remessa</label>
                                 {{object.percentage}} %
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-6">
                              <div class="form-group ">
                                 <label>Day by Day</label>
                                 {{object.pacote_daybyday}}
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group ">
                                 <label>Ativado</label>
                                 {% if pacote.is_active %}
                                   <span class="glyphicon glyphicon-ok"></span>
                                 {% else %}
                                   <span class="glyphicon glyphicon-remove"></span>
                                 {% endif %}
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           {% for opcional in list_opcionais %}
                           <div class="col-sm-6">
                              <div class="form-group ">
                                 <label>Opcional</label>
                                 {{ opcional.id_opcional.opcional_desc }}
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group ">
                                 <label>Preço</label>
                                 {{ opcional.id_opcional.id_moeda.moeda_simbolo }} {{ opcional.id_opcional.opcional_preco }}
                              </div>
                           </div>
                           {% endfor %}
                        </div>
                     </div>
                  </div>
                  <!-- END PANEL -->
               </div>
               <!-- END BASIC DATA -->

                <div class="col-lg-6 col-md-6 ">
                  <!-- START PANEL -->
                  <div class="panel panel-transparent">
                     <div class="panel-body">

                        <div class="row">
                           {% for cidade in list_cidades %}
                           <div class="col-sm-6">
                              <div class="form-group ">
                                 <label>Cidade</label>
                                 {{ cidade.id_cidade.cidade }}
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group ">
                                 <label>Qtd Dias</label>
                                 {{ cidade.qtd_dias }}
                              </div>
                           </div>
                           {% endfor %}
                        </div>

                        <div class="row">
                           {% for acomodacoes in list_acomodacoes %}
                           <div class="col-sm-6">
                              <div class="form-group ">
                                 <label>Acomodação</label>
                                 {{ acomodacoes.id_acomodacao.acomodacao_desc }}
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="form-group ">
                                 <label>Preço</label>
                                 {{ acomodacoes.id_moeda.moeda_simbolo }} {{ acomodacoes.preco }}
                              </div>
                           </div>
                           {% endfor %}
                        </div>

                     </div>
                  </div>
                  <!-- END PANEL -->
               </div>
               <!-- END BASIC DATA -->

            </div>
         </div>
      </div>
      <!-- END PANEL -->
   </div>
{% endblock %}