{% extends "default/panel/layout.html" %}
{% load staticfiles %}

{% block page_info %}
<li>
  <b>Pacote</b>
</li>
<li>
  <a class="active">Editar</a>
</li>    
{% endblock %}

{% block content %}
{% if context %}
{%  for title, value in context.items %}
{{title}} : {{value}} <br>
{% endfor %}
{% endif %}
<div id="rootwizard">
 <!-- Nav tabs -->
 <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator nav-stack-sm">
   <li class="active">
     <a data-toggle="tab" href="#tab1"><i class="fa fa-bars tab-icon"></i>
      <span>
      Dados do Pacote
     </span>
   </a>
 </li>
{% block subclass_itens %}{% endblock %}     
</ul>
<!-- Tab panes -->

<form autocomplete="off" method="post" enctype="multipart/form-data" role="form" id="form-personal" novalidate="novalidate">
  {% csrf_token %}

  <div class="tab-content">
   <div class="tab-pane active slide-left" id="tab1">
     <div class="row row-same-height">
       <div class="col-md-8">
         <div class="padding-10">               
           <div class="row clearfix p-t-10">
             <div class="col-sm-4">
               <div class="form-group form-group-default required">                        
                 <label>{{form.pacote_nome.label_tag}}</label>
                 {{form.pacote_nome}}
               </div>
             </div>
             <div class="col-sm-4">
               <div class="form-group form-group-default required">
                 <label>{{form.pacote_desc.label_tag}}</label>
                 {{form.pacote_desc}}
               </div>
             </div>
             <div class="col-sm-4">
               <div class="form-group form-group-default">
                 <label>{{form.id_excursao.label_tag}}</label>
                 {{ form.id_excursao }}
                </div>
              </div>
            </div>

            <div class="row">
             <div class="col-sm-4">
               <div class="form-group form-group-default required">
                 <label>{{form.id_moeda.label_tag}}</label>
                 {{form.id_moeda}}
               </div>
             </div>
             <div class="col-sm-4">
               <div class="form-group form-group-default required">
                 <label>{{form.pacote_preco.label_tag}}</label>
                 {{form.pacote_preco}}
               </div>
             </div>
             <div class="col-sm-4">
               <div class="form-group form-group-default required">
                 <label>{{form.pacote_taxa.label_tag}}</label>
                 {{form.pacote_taxa}}
               </div>
             </div>
           </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-default required">
                <label>{{form.is_active.label_tag}}</label>
                  {{form.is_active}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-default required">
                <label>{{form.id_opcional.label_tag}}</label>
                  {{form.id_opcional}}
              </div>
            </div>
          </div>

         <div class="row">
            <div class="col-sm-6">               
             <div class="form-group form-group-default">
               <label>{{form.pacote_daybyday.label_tag}}</label>
               {{form.pacote_daybyday}}
             </div>
           </div>
           <div class="col-sm-6">
            <div class="form-group form-group-default">
             <label>{{form.pacote_obs.label_tag}}</label>
             {{form.pacote_obs}}
           </div>
         </div>
       </div>

     </div>
   </div>
   <div class="col-md-4">

     <div class="row p-t-10">
       <div id="id_cidade_table" class="row form-group-attached p-t-10" >
        {% for form in cidadeformset.forms %}
        <div id="{{ form.prefix }}-row" class="tr form-group-attached">
          <div class="row">
            <div class="col-sm-5">
              <div class="form-group form-group-default">
                <label>{{ form.id_cidade.label_tag }}</label>
                <div style="text-align:center;">{{ form.id_cidade }}</div>
              </div>
            </div>
            <div class="col-sm-7">
              <div class="form-group form-group-default">
                <label>{{ form.qtd_dias.label_tag }}</label>
                <div style="text-align:center;">{{ form.qtd_dias }}</div>
              </div>
            </div>
            <div></div>
          </div>
        </div>
        {% endfor %}
        {{ cidadeformset.management_form }}             
      </div>
    </div>

    <div class="row p-t-10">
       <div id="id_acomodacao_table" class="row form-group-attached p-t-10" >
        {% for form in acomodacaoformset.forms %}
        <div id="{{ form.prefix }}-row" class="tr form-group-attached">
          <div class="row">
            <div class="col-sm-5">
              <div class="form-group form-group-default">
                <label>{{ form.id_acomodacao.label_tag }}</label>
                <div style="text-align:center;">{{ form.id_acomodacao }}</div>
              </div>
            </div>
            <div class="col-sm-7">
              <div class="form-group form-group-default">
                <label>{{ form.preco.label_tag }}</label>
                <div style="text-align:center;">{{ form.preco }}</div>
              </div>
            </div>
            <div></div>
          </div>
        </div>
        {% endfor %}
        {{ acomodacaoformset.management_form }}             
      </div>
    </div>

  </div>
</div>


</div>

</div>
{% block subclass_form %}{% endblock %}             
<div class="padding-20 bg-white">
 <ul class="pager wizard">
   <li class="next">
     <button class="btn btn-primary btn-cons pull-right" type="button">
       <span>Próximo</span>
     </button>
   </li>
   <li class="next finish hidden">
     <button class="btn btn-primary btn-cons btn-animated from-left fa fa-arrow-right pull-right" type="button">
       <span>Cadastrar</span>
     </button>
   </li>
   <li class="previous first hidden">
     <button class="btn btn-default btn-cons btn-animated from-left fa fa-cog pull-right" type="button">
       <span>Primeiro</span>
     </button>
   </li>
   <li class="previous">
     <button class="btn btn-default btn-cons pull-right" type="button">
       <span>Anterior</span>
     </button>
   </li>
 </ul>
</div>
</form>
</div>
</div>

<div id="select_aux" style="display:none;"></div>
{% endblock %}


{% block javascript %}


<script src="{% static 'js/default/jquery.inputmask.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/default/form_wizard.js' %}" type="text/javascript"></script>
<script src="{% static 'js/default/jquery.bootstrap.wizard.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'js/default/bootstrap-datepicker.js' %}" type="text/javascript"></script>
<script>
  $(document).ready(function() {

    $("#id_id_opcional").val({{ opcionais }}).select2();


    // multiple fields
    $(function() {

      $('#id_cidade_table .tr').formset();
      $('#id_acomodacao_table .tr').formset();
      $(".acomodacao").focus(function(){
        aux_select(this.value, this.options[this.selectedIndex].text)
      });
      $(".acomodacao").change(function(){
        update_select();
      });
      $(".add-row").click(function(){
        add_select();
      });

    });

  });

  function aux_select(value, text){
    console.log("SET SELECT AUX VALUES")
    document.getElementById("select_aux").innerHTML = value + "|" + text
  }

  function add_select(){
      console.log("ADD NEW SELECT")
      var options = document.getElementsByClassName("acomodacao");
      for(x=0;x<options.length;x++) {
        var selected = $('option:selected', options[x]).text();

        for(i=1;i<options.length;i++){
          var list = options[i]

          for(j=0;j<list.length;j++){
            var option = list[j].text

            console.log("++++++++++++++++++++++")
            console.log("selected:" + selected)
            console.log("i=" + String(i))
            console.log("option:" + option)

            if(selected == option && option != '---------' && x != i){
              list.remove(j)
              console.log("removed")
              break
            }

          }
        }
      }
  }

  function update_select(){
      console.log("UPDATE SELECTS")
      var options = document.getElementsByClassName("acomodacao");
      var last_values = document.getElementById("select_aux").innerHTML.split('|')
      var aux = document.createElement("option");
      aux.value = last_values[0]
      aux.text = last_values[1] 

      for(x=0;x<options.length;x++) {
        var selected = $('option:selected', options[x]).text();

        for(i=1;i<options.length;i++){
          var list = options[i]

          for(j=0;j<list.length;j++){
            var option = list[j].text

            console.log("++++++++++++++++++++++")
            console.log("selected:" + selected)
            console.log("i=" + String(i))
            console.log("option:" + option)

            if(selected == option && option != '---------' && x != i){
              list.add(aux)
              list.remove(j)
              console.log("removed")
              break
            }

          }
        }
      }
  }

  //Submit form
  $( ".finish" ).click(function() {
    $( "#form-personal" ).submit();
  });

</script>
{% endblock %}